

@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Nanum+Gothic:wght@400;700;800&display=swap');
body {
  font-family: 'Crete Round', serif;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: 'Crete Round', serif;
  transition: color 0.3s ease-in;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}

button {
  font-family: 'Crete Round', sans-serif;
  transition: background-color 1s, color 1s ease-in;
}

#app {
  min-height: 100vh;
  position: relative;
}

.loadingCenter {
  text-align: center;
  font-family: 'Crete Round', sans-serif;
}

.ellipsisAnim span {
  opacity: 0;
  -webkit-animation: ellipsis-dot 1s infinite;
  animation: ellipsis-dot 1s infinite;
}

.ellipsisAnim span:nth-child(1) {
  -webkit-animation-delay: 0.0s;
  animation-delay: 0.0s;
}
.ellipsisAnim span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.ellipsisAnim span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

/**NAVIGATION**/
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 4rem;
  margin: 0 auto;
  width: fit-content;
  border-bottom: 3px solid #D96459;
}

nav .logo img{
  height: 2rem;
}

.mainNavButtons {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/**navDropdown **/
.navDropdown {
  position: relative;
}

.navDropBtn {
  width: 11rem;
  border-radius: 0.3rem;
  border: none;
  background-color: #D96459;
  color: #ffffff;
  cursor: pointer;
  padding: 0.5rem 1rem;
  box-shadow: none;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Crete Round', serif;
  margin: 0.5rem;
}

.navDropdown:hover .navDropBtn {
  background-color: #8C4646;
}

.navDropdown:hover .navIcon {
  animation: grow 1s ease-in-out alternate infinite;
}

.navDropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: inherit;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center;
}

.navDropdown-content a {
  color: #D86459;
  padding: 0.5rem;
  text-decoration: none;
  display: block;
  transition: background-color 1s, color 1s ease-in;
}

.navDropdown-content a:hover {
  background-color: #8C4646;
  color: #ffffff;
}

.navDropdown:hover .navDropdown-content {
  display: block;
}

/**FOOTER**/
footer {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
}

.copyright {
  font-size: 0.8rem;
  color: #D96459;
  text-align: center;
}

/**ABOUT **/
.about {
  text-align: center;
}

.about form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about label {
  margin: 0.3rem;
  color: #D96459;
}

.about input,textarea {
  border-radius: 0.3rem;
}

.about button{
  width: fit-content;
  font-size: 1rem;
  background-color: #588C7E;
  color: white;
  border-radius: 0.2em;
  padding: 0.5em;
  text-decoration: none;
  border: none;
  margin: 0.2rem;
}

.about button:hover {
  background-color: #AEE8BA;
  color: #000000;
}

/**RESOURCES **/ 
.resources {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.resourcesBox {
  border: 2px solid #D96459;
  border-radius: 0.3rem;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 30%;
  color: #D96459;
}

.resourcesSection {
  border: 1px solid #AEE8BA;
  border-radius: 0.3rem;
  margin: 0.2rem;
  padding: 0.2rem;
}

.resources h3 {
  color: #588C7E;
}

.resources ul {
  padding: 0;
  margin: 0;
}

.resources li {
  list-style-type: none;
  color: #000000;
}

.resources a:hover {
  color: #588C7E;
}
/**HOME  **/
.headerTitle {
  text-align: center;
  color: #8C4646;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerTitle p {
  font-size: 1.5rem;
  color: #D96459;
  text-align: center;
  margin: 0;
}

.homeContent {
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.levelSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 90%;
}

.levelSection h1 {
  color: #8C4646;
}

.levelSection h1:hover {
  color: #588C7E;
}

.levelSectionStory {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.3rem;
  margin: 0.3rem;
  color: #D96459;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid #D96459;
  transition: background-color 1s ease-in;
}

.levelSectionStory p {
  margin: 0 auto;
  padding: 0.1rem;
}

.levelSectionStory img {
  max-width: 5rem;
  border: 2px solid #588C7E;
}

.levelSectionStory:hover {
  background-color: #D96459;
  color: #ffffff;
}


/**STORY**/
.storyMain {
  display: flex;
  flex-direction: column;
}

.storyImage {
  width: 100%;
  text-align: center;
}

.storyImage img {
  width: 10rem;
  max-height: 15rem;
  border: 2px solid #588C7E;
}

.storyContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: pre-wrap;
  text-align: center;
}

.moreStories {
  margin: 1rem;
}

.moreStories button{
  font-size: 1rem;
  background-color: #588C7E;
  color: white;
  border-radius: 0.2em;
  padding: 0.5em;
  text-decoration: none;
  border: none;
  margin: 0.2rem;
  cursor: pointer;
}

.moreStories button:hover {
  background-color: #AEE8BA;
  color: #000000;
}

.storyChapter {
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  border-top: 1px solid #BFBFBF;
}

.storyChapter>div {
  margin-top: 0.5rem;
}

.storyChapterTitle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.storyChapter h3 {
  font-size: 1.5rem;
  border-bottom: 3px solid #588C7E;
  text-transform: uppercase;
  font-family: 'Crete Round', sans-serif;
  color: #588C7E;
  transition: color 1s ease-in;
}

.storyChapter h3:hover {
  color: #000000;
}

.storyChapter p {
  margin-top: 0.5rem;
  line-height: 1.5rem;
}

.storyText {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

.koreanText {
  font-family: 'Nanum Gothic', sans-serif;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.engText {
  color: #D96459;
  font-family: 'Crete Round', sans-serif;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.storyLearning {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.storyLearning h4 {
  font-size: 1.5rem;
  text-decoration-line: underline overline;
}

.storyLearning>div {
  margin-top: 0.5rem;
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.vocabList {
  border: 3px solid rgb(220, 241, 236);
}

.vocabList p {
  text-transform: capitalize;
}

.vocabList h4{
  color: #588C7E;
}

.cultureNote {
  border: 3px solid rgb(220, 241, 236);
}

.cultureNote h4 {
  color: #588C7E;
}

.grammarTip {
  border: 3px solid #FFF1E6;
}

.grammarTip h4 {
  color: #D96459;
}

.grammarTip span {
  color: #D96459;
}

.grammarTip .koreanText {
  color: #588C7E;
}

.grammarTip button{
  font-size: 1rem;
  background-color: #D96459; 
  color: white;
  border-radius: 0.2em;
  padding: 0.5em;
  text-decoration: none;
  border: none;
}

.grammarTip button:hover {
  background-color: #8C4646;
  color: white;
}

.showEnglishContainer {
  width: 100%;
  bottom: 2%;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.showEngDirections {
  text-align: center;
  animation: wobble 4s both;
}

.showEnglishBtn {
  border: none;
  border-radius: 0.3rem;
  background-color: #C82333;
  color: #ffffff;
  text-shadow: 1px 1px #8C4646;
  padding: 1rem;
  margin: 0 auto;
  text-transform: uppercase;
}

.showEnglishBtn:hover {
  background-color: #8C4646;
  animation: grow 1s ease-in-out alternate infinite;
}

.storyQuiz {
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(220, 241, 236);
  border-radius: 0.3rem;
  padding: 0.3rem;
  margin: 0.5rem;
}

.storyQuiz h2 {
  color: #588C7E;
  text-decoration: underline;
}

.storyQuiz h3 {
  color: #C82333;
}

.storyQuiz label {
  display: block;
  text-align: left;
  padding: 0.3rem;
}

/**FONT SIZE ADJUST **/
.fontAdjust {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #588C7E;
  margin: 0.5rem;
}

.fontAdjust p {
  width: 100%;
  text-align: center;
}

.fontAdjust button{
  font-size: 1rem;
  background-color: #D96459; 
  color: white;
  border-radius: 0.2em;
  padding: 0.5em;
  text-decoration: none;
  border: none;
  margin: 0.2rem;
}

.fontAdjust button:hover {
  background-color: #8C4646;
  color: white;
}

.regularFont {
  font-size: initial;
}

.largeFont {
  font-size: x-large;
}

.xLargeFont {
  font-size: xx-large;
}

@media (max-width: 900px){

  .storyChapter {
    padding: 0;
  }

  .storyText {
    font-size: 1.2rem;
    flex-direction: column;
    width: 55%;
  }

}

@media (max-width: 768px) {
  nav {
    justify-content: space-evenly;
    padding: 0.3rem;
    width: 95%;
  }

  .navBurger {
    font-size: 2rem;
    color: #D96459;
  }

  #visibleSideMenu{
    border: 1px solid #D96459;
    background-color: white;
    color: #D96459;
    width: 50%;
    text-transform: uppercase;
    padding: 0;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
    animation: slidein 1s;
    height: 50vh;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .visibleCloseMenu {
    color: #D96459;
    font-size: small;
    border: 1px solid #D96459;
    margin: 0.5rem;
    text-align: center;
    display: block;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  #visibleSideMenu .mainNavButtons {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .navDropdown {
    margin-left: 0;
  }

  .storyLearning {
    max-width: 100%;
  }

  .resourcesBox {
    border: 2px solid #D96459;
    border-radius: 0.3rem;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    color: #D96459;
  }

  .levelSectionStory {
    flex-direction: column;
    justify-content: center;
  }

  .storyText {
    font-size: 1.2rem;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .storyLearning {
    width: 100%;
  }
}


/**KEYFRAMES **/
/*Animation for the sidemenu*/
@keyframes slidein{
  0% {
    top:0;
    left: -350px;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@keyframes grow{
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.3);
  }
}

@keyframes wobble {
  0% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
    opacity: 0.9;
  }
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
    opacity: 0;
  }
}

@-webkit-keyframes ellipsis-dot {
  0% { opacity: 0; }
 50% { opacity: 1; }
100% { opacity: 0; }
}

@keyframes ellipsis-dot {
  0% { opacity: 0; }
 50% { opacity: 1; }
100% { opacity: 0; }
}